<%inherit file="base.html"/>

<%def name="title()">自动化测试-首页</%def>
<%block name="head">
    ${ parent.head() }
    <style type="text/css">
        .body {
          with: 100%;
        }
        .center {
          text-align: center;
        }
        li {
            list-style-type: none;
        }

    </style>
</%block>

<%block name="content">
    <div class="body">
    <div class="center">
    <h1>自动化测试-首页</h1>
        <ul class="nav pull-right">
            <li><a href="/user/add">添加测试用户</a></li>
            <li><a href="/testcase/set">添加测试用例</a></li>
            <li><a href="/testcase/list/part">修改测试用例</a></li>
            <li><a id="tc" href="">手动执行测试</a></li>
        </ul>
    </div>
    </div>

<script>
$("#tc").on("click",function(event) {
    event.preventDefault();
    $.ajax({
         type : "post",
          url : "/testcase",
          data : "",
          async : false,
          success : function(data){
            alert(data['msg']);
          }
     });
});
</script>

<%
messages = get_flashed_messages()
num = len(messages)
%>

<script type="text/javascript">
(function () {
var num = ${num}
if(num>0)
{
	var messages = new Array()
	messages = ${messages}
	for (var i=0; i<num; i++)
	{
	  alert(messages[i]);
	}
}


})();
</script>
</%block>


