<%inherit file="base.html"/>
<%namespace name="utils" file="utils.html" />
<%def name="title()">用户-注册</%def>
<%block name="head">
    ${ parent.head() }
</%block>

<%block name="content">
    <div class="body">
    <div class="center">
    <h1>用户-注册</h1>
    <p class="important">
        <form action="/user/add" method="post">
            name: <input name="name" value=""><br />
            email: <input name="email" value=""><br />
            <input type="reset" value="reset"> <input type="submit" value="submit">
        </form>
    </p>
    <p class="important">
        ${utils.main()}
    </p>
    </div>
    </div>
</%block>

<%def name="main1()">
<table class="hovertable" >
    % for row in rows:
    ${makerow(row)}
    % endfor
</table>
</%def>

<%def name="makerow(row)">
<tr onmouseover="this.style.backgroundColor='#FFCCCC';" onmouseout="this.style.backgroundColor='#d4e3e5';" >
    % for name in row:
    <td>${name}</td>
    % endfor
    <td class="updateTr"><button >modify</button></td>
    <td class="deleteTr"><button >delete</button></td>
</tr>
</%def>


